/****************************************************
 ****************************************************
 *
 *	StorMan Software Pty Ltd
 *	Paperless Move-In Default Theme - Storage
 *
 */

body
	{
	background-color:#fff;
	font-size:15px;
	/*font-family:'Open Sans', Arial, Helvetica, sans-serif;*/
	font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow-y:scroll;
	}

#header
	{
	overflow:visible;	
	}


/****************************************************
 ****************************************************
 *
 *	Forms and Tabs
 *
 */

#form
	{
	position:relative;
	float:left;
	display:block;
	width:100%;
	}

.form-tabs
	{
	margin-top:50px;
	height:50px;
	z-index:9980;	
	}

.form-tab
	{
	border:none;
	height:49px;
	line-height:50px;	
	}

/****************************************************
 ****************************************************
 *
 *	Form Styles
 *
 */

.lbl
	{
		
	}

.input, .select-input
	{
	line-height:50px;
	height:50px;
	padding:10px 15px;
	border:solid 1px #ccc;
	border-radius:4px;
	}

.search-input, #process, #reset
	{
	border-radius:0;	
	}

.readonly
	{
	background-color:#eceeed;	
	}

.select-input
	{
		
	}

.btn, .cc-btn
	{
	border:none;
	line-height:50px;
	height:50px;
	padding:0 15px;		
	}

.cc-btn
	{	
	background-color:transparent
	}

.src-lbl
	{
	margin-bottom:0;	
	}

.form-control-feedback
	{
	right:15px;		
	}


.storman-hdn, #continue-row, #confirm-email-row, .continue-row, .confirm-email-row
	{
	display:none;	
	}


#full-terms
	{
	max-height:200px;
	overflow-y:scroll;
	box-shadow:inset 0 0 5px 0 rgb(0,0,0,0.5);
	-webkit-box-shadow:inset 0 0 5px 0 rgb(0,0,0,0.5);
	-moz-box-shadow:inset 0 0 5px 0 rgb(0,0,0,0.5);
	}


.cc-logo
	{
	height:74px;
	margin:0;
	width:auto;	
	}


.facility-img, .company-img
	{
	position:relative;
	float:left;
	display:block;
	width:auto;	
	height:auto;
	max-width:100%;
	}


/****************************************************
 ****************************************************
 *
 *	Validation
 *
 */

.at-warning, .at-error
	{
	position:relative;
	display:inline-block;
	width:100%;
	padding:0 15px;
	margin-top:15px;
	line-height:40px;
	}

.at-error
	{
	background-color:#ff8000;
	color:#fff;	
	}

.at-warning
	{
	background-color:#e6b42f;
	color:#000;	
	}



/****************************************************
 ****************************************************
 *
 *	Account Submenu
 *
 */

#account-tools
	{
	min-width:180px;	
	}

#account-tgl
	{
	padding-top:0;
	padding-bottom:0;	
	}

#sub-menu
	{
	position:absolute;
	top:0px;
	right:0;
	height:auto;
	display:none;
	width:auto;
	z-index:10000;	
	}

.selected-code
	{
	background-color:#2C3E50	
	}


/****************************************************
 ****************************************************
 *
 *	Modal
 *
 */
.ui-widget
	{
	font-family: "Lato",​"Helvetica Neue",​Helvetica,​Arial,​sans-serif;
	font-weight:normal;
	}





#signature-wrapper
	{
	position:relative;
	display:inline-block;
	width:100%;
	max-width:100%;
	overflow:auto;	
	}


@media (max-width: 992px) {
.navbar-brand.txt-lg
	{	
	font-size:1.1em;
	max-width:calc(100% - 70px);
	overflow:hidden;
	}
	
	
	
}

@media (min-width: 992px) {
#sub-menu
	{
	top:60px;
	}
	
	
	
}




.unit-msg
	{
	display:none;	
	}


.clear-hr
	{
	position:relative;
	float:left;
	display:block;
	width:100%;
	height:1px;
		
	}